@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300&display=swap');
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 1em;
    h1{
        font-family:'Monoton', cursive;
        font-size: 4rem;
        word-spacing: 1rem;
        letter-spacing: .5rem;
        font-weight: 200;
        text-transform: uppercase;
    }
    .nav{
        min-width: 55vw;
        a{
            line-height: 24px;
            margin: 0 .5em;
            vertical-align: top;
        }
       

    }
}