@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Caesar+Dressing&family=Poppins:wght@300&display=swap');

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 0 1em;

    .headerTitle {
        word-spacing: .5em;
        letter-spacing: .3em;
        text-transform: uppercase;

        h1 {
            font-family: 'Monoton', cursive;
            font-size: 4rem;
            font-weight: 200;
            text-shadow: 2px 2px 5px black;
        }

        h2 {
            font-family: 'Monoton', cursive;
            font-weight: 100;
        }
    }


    .nav {
        margin-top: 1.5em;

        a {
            line-height: 24px;
            margin: 0 .5em;
            vertical-align: top;
        }

    }

    .modals {
        align-self: flex-end;
    }

    .userProfile {
        #userPhoto {
            height: 100%;
            width: 3vw;
            border-radius: 30px;
        }

        display:flex;
        border-radius: .5em;
        flex-direction: column;
        padding: .5em;
        margin: .5em;
        align-items: center;
        font-size: 11px;
        background-color: $charcoal;
        border: 1px solid $midnight-green-eagle-green-3;
    }

}