.itemListContainer{
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1em;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    background-color: $space-cadet;
    text-transform: capitalize;
    
    .listaProds{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: .5em;
        
        .item{
            border-radius: .5em;
            background-color: $dark-purple;
            margin: 10px;
            box-shadow: 0 0 .3em $russian-violet;
            button{
                background-color: $skobeloff;
                border: none;
                border-radius: .3em;
                padding: .8em;
                box-shadow: 0 0 5px $russian-violet;
                margin: .5em;
                line-height: .2em;
                vertical-align: middle;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.toastAdd{
    font-size: 1rem;
    background-color: $dark-purple;
}

.itemDetailContainer{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contador{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        background-color: $skobeloff;
        border: none;
        border-radius: .3em;
        padding: .8em;
        box-shadow: 0 0 5px $russian-violet;
        margin: .5em;
        line-height: .2em;
        vertical-align: middle;
        &:hover{
            cursor: pointer;
        }
    }
}